.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-colum {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F4F7FA;
}

.continent {
  width: 100%;
  justify-content: space-evenly;
  background-color: #5586E3;
  padding: 16px 0;
}

.message {
  width: 100%;
  background-color: #2E4877;
  height: 26px;
  color: #F4F7FA;
}

.message span {
  padding-left: 25px;
}
